<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Stylect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap" rel="stylesheet">
    
    <style>

        .card-30 {
            align-items: center;
            background-color: #FCFCFD;
            border-radius: 4px;
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#282851 0 -3px 0 inset;
            box-sizing: border-box;
            color: #36395A;
            padding: 8px;
            
            

        }

        

        .button-30 {
            align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
    </style>
  </head>
  <body style="background-image: linear-gradient(#ffeecc, #febbcc);">
    <header style="
    margin: 0;
    padding: 0;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;">
      <div style="padding: 70px; color: black; font-family: 'Lucida Grande', serif;">
          <h1>STYLECT</h1>
      </div>
      <div style="padding: 70px; ">
          <button class="btn btn-outline-dark btn-rounded">Signup</button>
      </div>
      
  </header>
  <br>
    
    <br>
    <h1 class="text-center" style=" color: black; font-family: 'Lucida Grande', serif; font-weight: 300;">STYLECT<br>Unlock Your Style Potential</h1>
    

    <br>
    <br>
    <div class="container mt-5 mb-3">
      <div class="row" style=" color: black; font-family: 'Lucida Grande', serif;">
          <div class="col-md-4">
              <div class="card-30" style="background-color: #ffdacc;">
                <div class="card p-3 mb-2" style="background-color: #ffdacc; border-width: 0;">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="justify-content-between"><img src="https://i.pinimg.com/originals/d3/90/ed/d390edd808c9cc76ca85381e71ded008.png" alt="logo" width="100px" height="50px"></i> </div>                          
                        </div>                
                    </div>
                    <div class="mt-5">
                          <h3 class="heading">Closet</h3>                          
                          <div class="mt-3"> <span class="text1">Manage your closet like never before</span></span> </div>
                    </div>
                    <br>
                    <div>
                      <a href="/closet/"><button class="button-30">Go to Closet</button></a>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card-30" style="background-color: #ffdacc;">
              <div class="card p-3 mb-2" style="background-color: #ffdacc; border-width: 0;">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="justify-content-between"><img src="https://png.pngtree.com/element_our/png/20180807/tuxedo-png_56491.jpg" alt="logo" width="80px" height="80px"></i> </div>                          
                      </div>                
                  </div>
                  <div class="mt-5">
                        <h3 class="heading" style="margin-top: -30px;">Outfits</h3>                          
                        <div class="mt-3"> <span class="text1">Outfits and Recommendations</span></span> </div>
                  </div>
                  <br>
                  <div>
                    <a href="/outfits/"><button class="button-30">Manage Outfits</button></a>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card-30" style="background-color: #ffdacc;">
            <div class="card p-3 mb-2" style="background-color: #ffdacc; border-width: 0;">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="justify-content-between"><img src="https://i.pinimg.com/originals/15/4f/df/154fdf2f2759676a96e9aed653082276.png" alt="logo" width="70px" height="70px"></i> </div>                          
                      </div>                
                  </div>
                  <div class="mt-5">
                        <h3 class="heading" style="margin-top: -20px;">Shop</h3>                          
                        <div class="mt-3"> <span class="text1">Check out the Latest Styles</span></span> </div>
                  </div>
                  <br>
                  <div>
                    <button class="button-30">Go Shopping</button>
                  </div>
              </div>
            </div>
        </div>
          
      </div>
  </div>
  <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-black"
          style="background-color: #ffcccc; 
           border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box; color: #36395A;"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Stylect</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestiae modi cum ipsam ad, illo possimus laborum ut
              reiciendis obcaecati. Ducimus, quas. Corrupti, pariatur eaque?
              Reiciendis assumenda iusto sapiente inventore animi?
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-dark">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-dark">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-dark">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-dark">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="mb-4" />

      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-dark btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->

      <hr class="mb-4" />

      <!-- Section: Social media -->
      
      <!-- Section: Social media -->
    </div>
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>