<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Outfit Suggestions</title>
</head>
<body>
    <div class="container" style="text-align:center">
        {% include 'navbar.html' %}
        <h1>
            OUTFIT SUGGESTIONS
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum incidunt officia rem sapiente sed sint veniam? Architecto assumenda atque aut commodi distinctio dolore dolorum eius eos eum facere fugit illo itaque labore laboriosam molestiae mollitia nam natus necessitatibus nemo nisi obcaecati odio optio provident qui, repellat repellendus similique ut vero!
        </p>
        <button>Click Me</button>
    </div>
</body>
</html>